.navbar{ 
  background-image: url("../images/fonk.png"); 
  position: absolute;
  width: 100%;
  height: 122px;
  left: 0px;
  top: 0px;

  font-family: 'Caveat';
  font-size: 16px;
  line-height: 1.6;

} 
.nav-link , .navbar-brand{
position: absolute;
 left: 2.15%;
 right: 91.6%;
 top: 9.02%;
 bottom: 17.21%;

  color: #ffffff;

  cursor: pointer;
 }
 .nav-link{
  margin-right: 1em !important;
 }
 .nav-link:hover{

  color: #f97300;
 }
 .navbar-collapse{
  justify-content: flex-end;
 }
 .navbar-toggler{
   background:#fff !important;
 }